body {
    max-width: 150ch;
    background: #fff; /* fallback */
    background: linear-gradient(90deg, rgba(255,255,255,1) 100ch,
        rgba(0,0,0,0) 100%), url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
}

header {
    margin-bottom: 2ex;
    padding-bottom: 2ex;
    border-bottom: 1px dotted;
}

footer {
    margin-top: 2ex;
    padding-top: 2ex;
    border-top: 1px dotted;
}

table { border-collapse: collapse; }
table th, table td { padding-right: 2ex; }
table th:last-of-type, table td:last-of-type { padding-right: 0; }
table th {
    font-style: italic;
    font-weight: normal;
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: .5ex;
}

td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.mono {
    font-family: mono;
    font-size: 95%;
}

#deptinfo { font-style: italic; }

.uml {
    max-width: 100%;
    overflow: scroll;
    white-space: nowrap;
    border: 1px solid black;
    padding: 1ex;
    max-height: 400px;
    background-color: #fff;
}

.planning-table ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: "\2013\20\20"
}

.planning-table th { padding-bottom: 1ex; }
.planning-table > .ta-header th:first-of-type { border-bottom-width: 0px; }
.planning-table > tbody > tr { border-bottom: 1px dashed #cccccc; }
.planning-table > tbody > tr:last-of-type { border-bottom-width: 0px; }

.planning-table > tbody > tr td {
    padding-top: .5ex;
    padding-bottom: .5ex;
}

.planning-table > .ta-header th {
    padding-top: 1ex;
    font-style: normal;
    font-weight: bold;
}

.planning-table > .ta-header > tr > th:first-of-type { width: auto; }

.planning-table > tbody > tr > td:last-of-type > table > tbody > tr >
    td:first-of-type, .planning-table .task-head { width: 50ch; }

.planning-table > tbody > tr > td:last-of-type > table > tbody > tr >
    td:last-of-type, .planning-table .assignee-head { width: 30ch; }

.planning-table .identical td { color: gray; }
.planning-table .identical td:last-of-type {
    font-style: italic;
    text-align: center;
    padding-top: 1ex;
    padding-bottom: 1ex;
}

