body {
    max-width: 150ch;
    background: #fff; /* fallback */
    background: linear-gradient(90deg, rgba(255,255,255,1) 100ch,
        rgba(0,0,0,0) 100%), url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
}

header {
    margin-bottom: 2ex;
    padding-bottom: 2ex;
    border-bottom: 1px dotted;
}

footer {
    margin-top: 2ex;
    padding-top: 2ex;
    border-top: 1px dotted;
}

table { border-collapse: collapse; }
table th, table td { padding-right: 2ex; }
table th:last-of-type, table td:last-of-type { padding-right: 0; }
table th {
    font-style: italic;
    font-weight: normal;
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: .5ex;
}

td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.mono {
    font-family: mono;
    font-size: 95%;
}

#deptinfo { font-style: italic; }
.todo {
    background-color: red;
    /*
    display: none;
    */
}

.uml {
    max-width: 100%;
    overflow: scroll;
    white-space: nowrap;
    border: 1px solid black;
    padding: 1ex;
    max-height: 400px;
}

